*.swp
.git
.github
support/doc
support/nginx
support/systemd
support/docker/*/Dockerfile.*
support/docker/*/*.yml
storage
node_modules
client/node_modules
client/.angular
*npm-debug.log
yarn-error.log
.yarn
dist
test1
test2
test3
test4
test5
test6
*.tsbuildinfo
.eslintcache
/*.sublime-project
/*.sublime-workspace
/*.vscode
/**/.idea
/dist
/PeerTube.iml
*.swp